

nav {
    background: #0babf5;
}
footer {
    background: #1ea8e9;
}
.sidebar-left {
    background: #0a9ee2;
}
.content {
    background: #0987c2;
}
.sidebar-right {
    background: #076e9e;
}
